.card {
  background: #fff;
  border: 0.0625rem solid #000;
  border-radius: 0.25rem;
  width: 18rem;
}

.card-section {
  padding: 0.75rem;
}

.content {
  padding: 2rem 0.75rem;
}

.header {
  text-align: center;
  font-weight: bold;
  background: deeppink;
}

.footer {
  text-align: center;
  font-weight: bold;
  background: deepskyblue;
}
